._*
._.*
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
/apollo
/bqv-rc
/ChunelFeng
/cirosantilli
/eficode
/fuchsia
/InsightToolkit
/kroki
/leetcode
/nix
/nixpkgs
/node_modules
/nv
/redprl
/KWARC
/GF
/repo-visualizer
/aantron
/MirageOS
/solo5

/a3dbug
/cloud
/cloud-nixos


*~

